// COLORS
$c-olive: #4e504f;
$c-white: #ffffff;
$c-floral-white: #ece9e1e1;
$c-grey: #333333;
$c-orange: #e08631;
$c-red: #d82a2a;

// Font
$f-Montserrat: "Montserrat", sans-serif;
$fw-regular: 400;
$fw-bold: 700;

// Font size
$fs-base-s: 16px;
$fs-base-m: 18px;
$fs-h4: 32px;
$fs-h3: 48px;
$fs-h2: 96px;

// Letter spacing
$ls-base: 2;

// Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
