.description {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $c-floral-white;

  @include media("<=tablet") {
    padding: 25px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__line {
    width: 42px;
    height: 8px;
    display: flex;
    justify-content: center;
  }

  &__content {
    margin-top: 33px;
    display: flex;
    flex-direction: row;

    @include media("<=tablet") {
      font-size: 12px;
    }
  }

  &__content-left {
    display: flex;
    align-items: flex-start;
    flex-basis: 50%;
    margin-right: 10px;
  }

  &__content-right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 48%;
  }

  &__button {
    margin-top: 40px;
  }
}
